html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0 auto;
}

main {
	width: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style: none; 
 }

nav {
	text-align: center;
	font-size: 2em;
	font-family: 'Roboto+Condensed', helvetica;
	margin: 20px 75px;
    display: flex;
	justify-content: space-between;
}

nav a {
	color: #A4A4A4;
}

h1,
h2 {
	margin-top: 0;
}

h1 {
	font-family: 'Roboto+Condensed', helvetica;
	font-size: 5em;
	letter-spacing: 1px;
}

h2,
li {
	font-family: 'Roboto+Condensed', helvetica;
}

.underline {
	text-decoration: underline;
}


/*---------------------HOME------------------------------*/


header {
    margin: 3% auto 4px;
    width: 1221px;
    background: #4385B4;
    padding-bottom: 10px;
    color: white;
    text-align: center;
}

header h1,
header h2 {
	position: relative;
	top: 18px;
}

header h1 {
	margin-bottom: 0;
}

header h2 {
	padding-bottom: 10px;
}


#hero {
	display: flex;
	margin: 0 auto 3%;
	width: 100%;
	justify-content: center;
	color: white;
	font-size: 3em;
	text-align: center;
}

#hero a {
	color: white;
}

#portfolio,
#contact,
#about {
	width: 407px;
	height: 450px;
}

#portfolio {
	background: #B2B2B2;
}

#contact {
	background: #4FACEE;
}

#about {
	background: #EE744F;
}

#contact-text {
	position: relative;
	top: 31%;
}

#portfolio-text {
    position: relative;
    top: 12%;
}

#about-text {
	position: relative;
	top: 38%;
}



/*---------------------ABOUT ME------------------------------*/

#about-hero{
	text-align: center;
	color: #535353;
	margin-top: 101px;
    margin-bottom: 101px;
}

.about-title{
	text-align: center;
	color: #535353;
	font-size: 3em;
	font-family: 'Roboto+Condensed', helvetica;
	margin-top: 8%;

}

#infograph {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
}

#infograph h2 {
	font-size: 3em;
	margin-left: 7.5%;
	position: relative;
	top: 8%;
}

#infograph li {
	margin-bottom: 12px;
	width: 93%;
}

#film,
#art,
#design,
#achievements {
	width: 500px;
	height: 310px;
	display: inline-block;
	margin: .1%;
	color: white;
}

#film {
	background: #4385B4;
}

#art {
	background: #EE744F;
}

#design {
	background: #B2B2B2;
	position: relative;
}

#achievements {
	background: #4FACEE;
}

#digital-tools {
	padding-bottom: 100px;
	margin: 0 auto;
	text-align: center;
}

#digital-tools img {
	width: 10%;
	margin: 0 13px;

}

#html {
	height: 128px;
    width: 130px;
}

#css {
	height: 127px;
}

/*-------------story------------------*/
#line {
	height: 1px;
    width: 150px;
    background-color: #B0B0B0;
    margin: 4% auto 10%;
}

#story {
	display: flex;
	flex-direction: column;

}

#story div {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 10%;
}

#story li {
	font-family: 'Amatic SC', helvetica;
	margin-bottom: 3%;
	font-weight: bold;
    font-size: 2em;
}

#story-title {
	text-align: center;
	font-family: 'Amatic SC', helvetica;

}

#journey {
	margin: 0 auto 55px;
	display: block;
    width: 10%;
}


#myspace {
	width: 300px;
}

#time2 {
    width: 20%;
    margin: 0 auto 5%;
}

#time3 {
	opacity: 0;
	width: 0;
}

#wix-master { 
	margin: 0 5% 15%;
}

#wix {
	width: 300px;
}

#highfive-master a {
	color: #A4A4A4;
}

#highfive {
	width: 480px;
}

#yes-master ul {
	margin-top: 9%;
}

#yes {
	width: 500px;
}

#thinkful {
	width: 450px;
}

#idea-master {
	display: flex;
	flex-direction: column;
	font-family: 'Amatic SC', helvetica;
	font-size: 2em;
}
#idea{
    width: 400px;
    margin-left: 8%;
   
}

#update {
	width: 1000px;
	font-family:'Amatic SC', helvetica;
	font-size: 2em;
	margin: 0 auto;

}

#update h2 {
	font-family: 'Amatic SC', helvetica;
	font-size: 2em;
}

#update-heading {
	display: block;
	font-family: 'Amatic SC', helvetica;
	font-size: 3em;
	text-align: center;
}

#update-glasses {
	width: 235px;

}

#cats {
	width: 400px;
    position: relative;
    bottom: 25px;
}

#story ul {
	width: 50%;
}




/*---------------------CONTACT ME------------------------------*/
#master-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 100px auto;
}


#master-box div {
	width: 300px;
	height: 200px;
	display: inline-block;
	color: white;
}

#master-box h2 {
	text-align: center;
	margin-top: 30%;
}

#box-1 {
	background: #FF6E6E;
	transition-duration: 1s;
}

#box-1:hover {
	background: #FD4040;

}

#box-2 {
	background: #4FACEE;
	transition-duration: 1s;
}

#box-2:hover { 
	background: #209AF1; 
}

#box-3 {
	background: #5678FF;
	transition-duration: 1s;
}

#box-3:hover {
	background: #3E65FF; 
}

#box-4 {
	background: #B458FF;
	transition-duration: 1s;
}

#box-4:hover {
	background: #9F2AFF;
}

#box-5 {
	background: #575757;
	transition-duration: 1s;
}

#box-5:hover {
	background: #3F3F3F;
}

#box-6 {
	background: #5CFFAC;
	transition-duration: 1s;
}

#box-6:hover {
	background: #1BFF8B;
}

/*---------------------PORTFOLIO------------------------------*/
#portfolio-all {
	margin-top: 100px;
	width: 99%;
}

.projects {
	display: flex;
    flex-direction: column;
    justify-content: center;
}


.projects img {
	margin: 0 auto;
	width: 80%;
}

.projects h2 {
	margin-left: 10%;
    margin-bottom: 8px;
    font-size: 3em;
}

.projects p {
	margin: 2% 10% 5%;
	font-family: 'raleway', helvetica;
}

.projects a {
	color: #4FACEE;
	font-weight: bold;
}

.the-start {
	font-size: 1.2em;
    margin-right: 8px;
    font-weight: bold;
}

#other-projects-heading {
	text-align: center;
	font-size: 3em;
    margin: -4% 0 7%;;
}

#other-projects {
	width: 1000px;
	margin: 0 auto;
}

#other-projects div {
	width: 300px;
	height: 300px;
	margin: 0 1% 8%;
    display: inline-block;
}

#other-projects h2 {
	text-align: center;
	margin-top: -15px;
	color: black;
}

#other-projects a {
	margin-bottom: 5%;
}


#boneyard {
	background-image: url('images/BoneYard.jpg');
	background-size: cover;
	border: 1px solid black;
}

#donde {
	background-image: url('images/donde.png');
	background-size: cover;
	border: 1px solid black;
	background-position: 0 9%;
}

#pirate-bartender {
	background-image: url('images/pirate.png');
	background-size: cover;
	border: 1px solid black;
	background-position: 34% 0;
}

#shoppinglist {
	background-image: url('images/shoppinglist.png');
	background-size: cover;
	border: 1px solid black;
	background-position: 67% 0%;
}

#ryu {
	background-image: url('images/ryu.png');
	background-size: cover;
	border: 1px solid black;
}

#youtube {
	background-image: url('images/Youtube.png');
	background-size: cover;
	border: 1px solid black;
	background-position: 34% 0;
}

/*---------------------ILLUSTRATIONS------------------------------*/
#illustrations {
	display: block;
	margin: 0 auto;
	width: 1000px;
}

#illustrations-heading {
	text-align: center;
}

#illustrations-subheading {
	text-align: center;
}
#illustrations img {
	width: 350px;
	border: 1px solid black;
	margin: 7%;
}

#illustrations #boneyard {
	position: relative;
	bottom: 42px;
}

#dolphine,
#whale {
	position: relative;
    bottom: 45px;
}

#drugs {
	position: relative;
    bottom: 12px;
}

#fuck {
	position: relative;
	bottom: 30px;
}

#catfish { 
	position: relative;
	bottom: 36px;
}

/******************************MEDIA QUERY************************/

@media only screen and (max-device-width: 760px) {
	

	nav {
	    font-size: 4em;
	    margin-top: 50px;
	    display: flex;
	    flex-direction: column;
	}

	nav a {
		margin-bottom: 37px;
	}

	header {
		    width: 100%;
		    font-size: 2em;
		    margin-top: 0;
	}

	header h2 {
		font-size: 2em;
	}



	#hero {
		flex-direction: column;
		font-size: 4em;
	}

	#portfolio-text {
   		top: 21%;
	}

	#about-text {
	    top: 36%;
	}



	#contact-text {
	    top: 35%;
	}

	#portfolio,
	#about,
	#contact {
		width: 100%;
	}



/******************************PORTFOLIO************************/



.projects img {
	width: 100%;
}

.projects h2 {
	text-align: center;
	margin-left: 0;
	font-size: 5em;
}

#other-projects {
	width: 100%;
}

#other-projects div {
	display: block;
	margin: 0 auto 10%;
	width: 500px;
    height: 500px;
}

#other-projects h2 {
	margin-top: -48px;
    font-size: 3em;
}

/******************************ABOUT ME************************/
#about-hero h1 {
	font-size: 7em;
}

.about-title {
	font-size: 5em;
}

#infograph h2 {
	font-size: 6em;
	margin-left: 3.5%;
}

#infograph li {
	font-size: 3em;
	margin-bottom: 52px;
}

#film, 
#art, 
#design, 
#achievements {
	width: 100%;
	height: 980px;
}

#digital-tools img {
	width: 200px;
	margin-bottom: 10px;
}

#css,
#html {
	height: auto;
}

#story-title {
	font-size: 8em;
}

#journey {
	width: 40%;
}

#story div {
	flex-direction: column;
}

#story ul {
	width: 90%;
}

#story li {
	font-size: 5em;
}

#myspace,
#wix,
#yes,
#idea,
#update,
#update-glasses {
	width: 75%;
}

#highfive,
#yes,
#thinkful,
#cats {
	width: 100%
}

#idea-master h3,
#glasses-master h3,
#cats-master h3 {
	font-size: 3em;
	text-align: center;
	margin-left: 0 3%;
}

#update {
	width: 100%;
}

#update-heading {
	font-size: 9em;
}


#time2 {
	opacity: 0;
	margin:	0;
}

#time3 {
	opacity: 1;
	width: 78%;
    margin: -17% auto 13%;
}

/******************************ILLUSTRATIONS************************/
#illustrations {
	width: 500px;
}

#illustrations-subheading {
	margin-bottom: 80px;
}

#illustrations img {
	width: 300px;
	display: block;
	margin: 10px auto 40px;
}

#illustrations #boneyard,
#dolphine,
#whale,
#catfish,
#fuck {
	bottom: 0;
}



/******************************ABOUT ME************************/
#master-box {
	font-size: 3em;
}


#master-box div {
	width: 390px;
    height: 390px;
}

#master-box h2 {
	margin-top: 39%;
}

}





